<mat-card class="home mat-elevation-z3">
  <div style="display: flex; justify-content: space-around;" >
    <div>
      <video autoplay loop preload="auto" width="300" height="300" src="../../../assets/videos/2.mp4"></video>
    </div>
    <div style="width: 300px;">
      <mat-card-title class="title">Bem vindo!</mat-card-title>
      <mat-card-subtitle class="subtitle">
        Esse é o mundo do investimentos, visualize gratuitamente em tempo real sem preder nada
      </mat-card-subtitle>
    </div>
  </div>
</mat-card>
