.paginate{
  display: flex;
  justify-content: center;
}
.paginate{
  margin-top: 30px;
}
.paginate h2 {
  margin: 0 10px;
}
.central{
  display: flex;
  justify-content: center;
  width: 100%;
}
.contain-spinner{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
table {
  width: 100%;
}