*,h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
  }
  .content{
    display: flex;
    justify-content: center;
  }
  .tecnologia{
    width: 100%;
  }
  .box-linguagem{
    width: 100%;
    margin-top: 30px;
  }
  .box-linguagem-icon {
    /* display: flex;
    justify-content: center; */
    padding: 0 25%;
  }
  
  .box-flex-icon {
    background-color: #eee;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .projetos{
    width: 100%;
    background-color: #0c0c0c;
    padding-bottom: 50px;
  }
  .box-projeto{
    padding-top: 100px;
    width: 100%;
    margin-top: 70px;
  }
  .box-projeto .title{
    text-align: center;
    padding: 30px 0;
  }
  .box-projeto_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .box-projeto-flex {
    color: #000;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  h2{
    font-size: 16px;
  }
  .category{
    background-color: #0c0c0c;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .category h4 {
    margin: 0;
    font-size: 12px;
  }
  .box-flex-icon{
    padding: 0;
  }
  .header-mat{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .header-mat h2 {
    margin: 0;
    padding: 0;
  }
  
  .categoryRodape{
    position: relative;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .categoryRodape h4 {
    font-size: 12px;
  }
  
  .linformativo{
    display: flex;
    justify-content: left;
    gap: 10px;
  }
  .container{
   background-color: #eee;
   width: 100px; 
   padding: 2px 5px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .container h5 {
    font-size: 12px;
    font-weight: 600;
  }
  i{
    background-color: black;
    border-radius: 50%;
    font-size: 10px;
  }
  
  .bodyCard{
    padding: 0 5px;
  }

  .central{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .contain-spinner{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
  }