<h1>Todos os investimentos</h1>

<div class="indicativo">
  <div class="linformativo">
    <div class="container">
      <h5>Risco</h5>
      <div>
        <span>
          Baixo Risco
          <i style="background-color: green; color: green;" >....</i>
        </span>
        <span>
          Médio Risco
          <i  style="background-color: yellow; color: yellow;" >....</i>
        </span>
        <span>
          Alto Risco
          <i style="background-color: red; color: red;" >....</i>
        </span>
      </div>
    </div>
    <div class="container">
      <h5>Status</h5>
      <div>
        <span>
          Fechado
          <i style="background-color: rgb(2, 2, 2); color: rgb(0, 0, 0);" >....</i>
        </span>
        <span>
          Aberto
          <i  style="background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);" >....</i>
        </span>
      </div>
    </div>
  </div>

  <div class="input">
    <div class="search">
      <h2>Ordernação</h2>
      <div>
        <button (click)="ascbrabo()" type="submit">Último ao Primeito</button>
        <br>
        <button (click)="descbrabo()" type="submit">Primeiro ao Último</button>
      </div>
    </div>
  </div> 

  <div class="input">
    <div class="search">
      <h2>Categoria</h2>
      <div>
        <input type="search" #box1 placeholder="EX: CDB" name="category" id="category">
        <button id="sub"  (click)="pegaCat(box1.value)" type="submit">
          <i 
            style="color: rgb(255, 255, 255); background-color: rgba(253, 253, 253, 0);" 
            class="material-icons"
          >
            search
          </i>
        </button>
      </div>
    </div>

    <div class="input">
      <div class="search">
        <h2>Consócios</h2>
        <div>
          <input type="search" #box2 placeholder="EX: Banco ..." name="consortium" id="consortium">
          <button (click)="pegaConsorcio(box2.value)" id="sub" type="submit">
            <i 
            style="color: rgb(255, 255, 255); background-color: rgba(253, 253, 253, 0);" 
            class="material-icons"
          >
            search
          </i>
          </button>
        </div>
      </div>
    </div> 
  </div>
</div>

<div class="central" >
  <mat-spinner class="contain-spinner" *ngIf="isLoading">

  </mat-spinner>
</div>


<section class="tecnologia">
  <div class="box-linguagem ">
      <div class="box-linguagem-icon">
        <mat-card class="box-flex-icon mat-elevation-z2" *ngFor="let inves of postagens">
          <div [routerLink]="['/visualizar', inves._id]" >
            <div *ngIf="inves.risk === 'Safe'" class="category" style="background-color: green;" >
              <h4 >{{inves.category}}</h4>
            </div>
            <div *ngIf="inves.risk === 'Moderate'" class="category" style="background-color: yellow;" >
              <h4 >{{inves.category}}</h4>
            </div>
            <div *ngIf="inves.risk === 'Severe'" class="category" style="background-color: red;">
              <h4 >{{inves.category}}</h4>
            </div>
            <mat-card-header class="header-mat mat-elevation-z2 elevation-z8">
              <h2 >{{inves.investment_name}}</h2>
            </mat-card-header>
            <div class="bodyCard">
              <div class="rent_dia">
                <h4>Rentabilidade diaria</h4>
                <h6>
                 R$ {{inves.profitability.day}}
                </h6>
              </div>
              <span >Valor minimo: R$ {{inves.profitability.minimum_value}}</span>
              <div class="atualiza">
                <span class="atualiza_title">Última atualização:</span>
                <span class="atualiza_value">
                  {{inves.updated_at.slice(0,10).split('-').reverse().join('/')+" às "+inves.updated_at.slice(11,19)}}
                </span>
              </div>
            </div>
          </div>
          
          <div 
            *ngIf="inves.status === 'Open'" 
            class="categoryRodape" 
            style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);" 
          >
          {{inves.consortium.consortium_name}}
          </div>
          <div 
          *ngIf="inves.status === 'Close'" 
          class="categoryRodape" 
          style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);" >
            {{inves.consortium.consortium_name}}
          </div>
        </mat-card>
      </div>
  </div>   
</section>

<div class="paginate">
<button (click)="pageDown()" type="submit">Anterior</button>
  <h2>{{currentPage}}</h2>
<button  (click)="pageUp()" type="submit">Proxima</button>
</div>
